.details__ps__main__card {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  height: 100%;
}
/* 
@media (min-width: 768px) {
  .all__pages__over__view {
    display: none;
  }
} */

.district__coor__ps__details__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.district__coor__ps__details__card > :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ps_detaisl_inprogras_done_card {
  display: flex;
  min-width: 20%;
  justify-content: space-between;
  align-items: center;
}
.ps_detaisl_inprogras_done_card > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .district__coor__ps__details__card > :nth-child(1) > h2 {
    font-size: 20px;
  }
  .ps_detaisl_inprogras_done_card {
    min-width: 40%;
  }
}

.users__and__completed__ps_details__main {
  display: flex;
  width: 100%;
  /* height: 80%; */
  height: 100%;
  /* border: 2px solid red; */
  gap: 1rem;
}

.user__datails__list {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  background-color: #fffcfc;
  border-radius: 10px;
  /* border: 2px solid red; */
}
.user__details__input__card {
  width: 100%;
  height: 35px;
  border: 2px solid rgb(218, 213, 213);
  /* border: 2px solid #ff6f00; */
  border-radius: 7px;
  display: flex;
  overflow: hidden;
}
.user__details__input__card > input {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 18px;
  background-color: transparent;
}
.user__details__input__card > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 213, 213);
  width: 15%;
}

.user__display__card {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid red; */
  overflow-y: scroll;
}
.each__user {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  /* justify-content: space-between; */
  padding: 5px 10px;
  gap: 1rem;
  align-items: center;
  border: 1px solid rgb(221, 214, 214);
  border-radius: 10px;
  border-left: 5px solid rgb(221, 214, 214);
  position: relative;
  cursor: pointer;

  /* bo */
}
.each__user > img {
  width: 10%;
  /* background-color: rgb(221, 214, 214); */
}
.each__user > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.each__user > div > :nth-child(1) {
  font-size: 20px;
}
.each__user > div > :nth-child(2) {
  font-size: 15px;

  color: lightslategray;
}
.each__user > :nth-child(3) {
  position: absolute;
  right: 10px;
  top: 20%;
}

.user__right__side__card {
  width: 65%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  padding-bottom: 0px;
}

.total__kit__return__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #faa665;
}
.total__kit__return__card > span {
  color: lightslategrey;
}
.total__kit__return__card > span > span {
  font-size: 20px;
  color: #ff6f00;
}

.right__side__ps__details {
  width: 100%;
  /* border: 2px solid red; */
  height: 100%;
}

.right__ps__number_dis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  font-size: 15px;
  color: lightslategray;
}
.right__ps__number_dis > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.right__ps__number_dis > div > span > span {
  font-size: 18px;
  color: #faa665;
}

.completed__cer__kit__return {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.completed__cer__kit__return > :nth-child(1) {
  margin-bottom: 5px;
  font-size: 17px;
  color: rgb(112, 109, 109);
  /* color: coral; */
  font-weight: bold;
  cursor: pointer;
}

.completed__cer__kit__return > button {
  width: 170px;
  height: 32px;
  background-color: #ff6f00;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .users__and__completed__ps_details__main {
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
  }
  .user__datails__list {
    width: 100%;
  }
  .user__right__side__card {
    width: 100%;
  }
}

.certificate__all__main__card {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 99999;
}

.all__certificate__main__card {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  height: 100%;
}

.each__image__card {
  width: 30%;
  height: 45%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.each__image__card > :nth-child(1) {
  font-size: 20px;
}
.each__image__card > img {
  width: 100%;
  height: 80%;
}
