.score__main__board {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.score__board {
  /* width: 50%; */
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #114b5f;
}
.restart__or__back_Video_card {
  display: flex;

  gap: 2rem;
}

.restart__or__back_Video_card > button {
  width: 140px;
  height: 35px;
}
.restart__or__back_Video_card > :nth-child(1) {
  background-color: bisque;
  border: none;
  outline: none;
  font-size: 17px;
}
.restart__or__back_Video_card > :nth-child(2) {
  border: 2px solid bisque;
  /* border: none; */
  outline: none;
  font-size: 17px;
  background-color: #fff;
}

.quize__completed__success {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.quize__completed__success > h1 {
  color: #114b5f;
  font-size: 32px;
  font-family: "Tangerine", cursive;
  font-size: 60px;
  font-weight: bold;
}

.quize__completed__success > h4 {
  color: #114b5f;
  font-size: 22px;
}
