.signup__tabs__down__ui__card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 90%;
  overflow: scroll;
  padding: 0px 20px;
  /* padding-top: 30px; */
}

::-webkit-scrollbar {
  display: none;
}

.multi__input__card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.inputBox {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputBox input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(168, 119, 119, 0.25);
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  /* color: #fff; */
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  color: rgb(81, 81, 85);
  transition: 0.5s;
  top: 33px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #90e49d;
  transform: translateX(10px) translateY(-10px);
  font-size: 0.75em;
  padding: 2px 10px;
  border-left: 1px solid #90e49d;
  border-right: 1px solid #90e49d;
  letter-spacing: 0.2em;
  background-color: #fff;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #90e49d;
}

.inputBox select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(168, 119, 119, 0.25);
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
}

.inputBox select:focus {
  border: 1px solid #90e49d;
}

input[type="file"]:disabled {
  background: #ccc;
}

.text__are__card {
  width: 100%;
}

.text__are__card textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(168, 119, 119, 0.25);
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  /* color: #fff; */
}
.text__are__card input:valid,
.text__are__card input:focus {
  border: 1px solid #90e49d;
}
.signup__tabs__down__ui__card > button {
  /* height: 35px; */
  background-color: #5daf7e;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 9px;
  background-image: linear-gradient(to right, #4e8c59, #8fe39b);
}

.multi__input__card > img {
  width: 100%;
  max-height: 300px;
}
/* 
 file upload 
 new styles
*/

.multi__input__card__file {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.file__image__preview__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

.file__input__box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.file__input__box input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(168, 119, 119, 0.25);
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  /* color: #fff; */
}

.file__input__box span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  color: rgb(81, 81, 85);
  transition: 0.5s;
  top: 33px;
}

.file__input__box input:valid ~ span,
.file__input__box input:focus ~ span {
  color: #90e49d;
  transform: translateX(10px) translateY(-10px);
  font-size: 0.75em;
  padding: 2px 10px;
  border-left: 1px solid #90e49d;
  border-right: 1px solid #90e49d;
  letter-spacing: 0.2em;
  background-color: #fff;
}

.file__input__box input:valid,
.file__input__box input:focus {
  border: 1px solid #90e49d;
}

/* collaps */

@media (max-width: 768px) {
  .signup__tabs__down__ui__card {
    padding: 10px;
    /* padding-top: 30px; */
  }
  .multi__input__card {
    flex-direction: column;
    gap: 1.3rem;
  }
  .inputBox {
    width: 100%;
  }
  .multi__input__card__file {
    flex-direction: column;
    gap: 1rem;
  }
  .file__image__preview__card {
    width: 100%;
  }
}
