* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Lato", sans-serif;
  font-family: "Roboto Slab", serif; */
  font-family: "Josefin Sans", sans-serif;
}

.all__pages__over__view {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: grey;
}

.paginations__card__appcss {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paginat {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #ff6f00;
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;
  /* color: #4b8ef2; */
}
